.droptarget {
  float: left; 
  width: 100px; 
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.landing-page{
	background:url(../images/bg-landing.jpg);
	background-size: 200px;
	padding:5rem;

}

.option img {
	position: relative;
	
}


.opt1{
	width: 100px;
	height: 100px;
	top: 30px;

}

.opt2{
	width: 200px;
	height: 200px;
	top: 40px;
	
}

.opt3{
	width: 100px;
	height: 100px;
	top: 40px;
}

.opt4{
	width: 150px;
	height: 150px;
	top: 95px;
}


.elephantOpt{
	width: 200px;
	height: 200px;
}


.q2 img{
	position: relative;
	top: 40px;
}



/*q3*/

.q3 button{
	position: relative;
	top: 12px;
}

.btnRed {
background: red !important;
border-radius:  100%!important;
color: white!important;
}

.btnBlue {
background: blue !important;
border-radius:  100%!important;
color: white!important;
}

.btnRed:hover {
transform: scale(1.1);
}

.btnBlue:hover {
transform: scale(1.1);
background: red!important;
}

.game-over-page{
	background: url('https://media.giphy.com/media/mcFM5Lw9koeRi/giphy.gif'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

#game-over{
	position: relative;
	top: 0rem;
}

.game-over-cont{
	width: 40rem;
	height: 26rem;
}

#congrat2{
	top:5rem;
}

.landing-cont{
	width: 36rem;
	height: 20rem;
}

#start-btn{
	position: relative;
	top: 3rem;
	font-size: 30px;
	color:black;
}


.congrats1{
background: url('https://media.giphy.com/media/3KC2jD2QcBOSc/giphy.gif'); 
background-repeat: no-repeat; 
background-size: cover; 
background-position: center;
}

.landing{
	position: relative;
	top: -20rem;
}

.congrats{
	width: 36rem;
	height: 20rem;
}

.b1{
left: 60px;
}

.b-add{
left: 10px;
top: 10px;
}

.b2{
right: 90px;
}

.b-equals{
right: 120px;
}


#sun{
height: 120px;
width: 120px;
}

#cloud{
height: 100px;
width: 100px;
}

#moon{
height: 80px;
width: 80px;
}

#bulb{
height: 60px;
width: 60px;
}